---
title: otra
date: 2013-12-12 05:15 UTC
tags:
---

%p
  Esto es lo que sucede cuando uno empieza a escribir así nomas.

%p 
  Esperemos que funcione
  %img{:src => "//www.google.com.mx/images/srpr/logo11w.png"}

%p
  Algo de código


- code("ruby") do
  = "def my_cool_method(message)"
  =  "puts message"
  = "end"
